body {
  background-image: url("../images/space.jpg");
  width: 500px;
  margin: 100px;
  color: #0000;
}
header {
  font-size: 150%;
  color: white;
  font-family: "Papyrus", Helvetica, Georgia;
}
section {
  color: white;
}
canvas-container {
  width:100%;
  text-align:center;
}

aside {
  color: turquoise;
}
